<%= render('partials/example_info') %>

<% form_index = 0 %>
<% brand_name_index = 0 %>
<% language_index = 1 %>

<form class="eg" action="" method="post" data-busy="form">
  <% if @example["Forms"][form_index]["FormName"] %>
    <%= sanitize @example["Forms"][form_index]["FormName"] %>
  <% end %>

  <div class="form-group">
      <label for="brandName"><%= @example["Forms"][form_index]["Inputs"][brand_name_index]["InputName"] %></label>
      <input type="text" class="form-control" id="brandName" name="brandName"
             placeholder="<%= @example["Forms"][form_index]["Inputs"][brand_name_index]["InputPlaceholder"] %>" required />
  </div>

  <div class="form-group">
    <label for="defaultBrandLanguage"><%= @example["Forms"][form_index]["Inputs"][language_index]["InputName"] %></label>
    <%= select_tag "defaultBrandLanguage", options_for_select(language_list), { id: "defaultBrandLanguage", name: "defaultBrandLanguage", class: "form-control" }  %>
  </div>

  <%= render('partials/submit_button') %>
</form>