<%= render('partials/example_info') %>

<% form_index = 0 %>
<% signer1_email_index = 0 %>
<% signer1_name_index = 1 %>
<% signer2_email_index = 2 %>
<% signer2_name_index = 3 %>
<% delay_index = 4 %>

<form class="eg" action="" method="post" data-busy="form">
  <% if @example["Forms"][form_index]["FormName"] %>
    <%= sanitize @example["Forms"][form_index]["FormName"] %>
  <% end %>

  <div class="form-group">
        <label for="signer1Email"><%= @example["Forms"][form_index]["Inputs"][signer1_email_index]["InputName"] %></label>
        <input type="email" class="form-control" id="signer1Email" name="signer1Email"
               aria-describedby="emailHelp"
               placeholder="<%= @example["Forms"][form_index]["Inputs"][signer1_email_index]["InputPlaceholder"] %>"
               required value="<%= @config.signer_email %>" />
        <%= render('partials/email_will_not_be_shared') %>
    </div>
    <div class="form-group">
        <label for="signer1Name"><%= @example["Forms"][form_index]["Inputs"][signer1_name_index]["InputName"] %></label>
        <input type="text" class="form-control" id="signer1Name"
               placeholder="<%= @example["Forms"][form_index]["Inputs"][signer1_name_index]["InputPlaceholder"] %>"
               name="signer1Name" value="<%= @config.signer_name %>" required />
    </div>
    <div class="form-group">
        <label for="signer2Email"><%= @example["Forms"][form_index]["Inputs"][signer2_email_index]["InputName"] %></label>
        <input type="email" class="form-control" id="signer2Email" name="signer2Email"
               aria-describedby="emailHelp"
               placeholder="<%= @example["Forms"][form_index]["Inputs"][signer2_email_index]["InputPlaceholder"] %>" required />
    </div>
    <div class="form-group">
        <label for="signer2Name"><%= @example["Forms"][form_index]["Inputs"][signer2_name_index]["InputName"] %></label>
        <input type="text" class="form-control" id="signer2Name"
               placeholder="<%= @example["Forms"][form_index]["Inputs"][signer2_name_index]["InputPlaceholder"] %>"
               name="signer2Name" required />
    </div>
    <div class="form-group">
        <label for="delay"><%= @example["Forms"][form_index]["Inputs"][delay_index]["InputName"] %></label>
        <input type="number" class="form-control" id="delay" name="delay" required />
    </div>
  <%= render('partials/submit_button') %>
</form>