<%= render('partials/example_info') %>

<% form_index = 0 %>
<% redirect_to2_index = 0 %>

  <% if @envelope_ok %>
<form class="eg" action="" method="post" data-busy="form">
  <% if @example["Forms"][form_index]["FormName"] %>
    <%= sanitize @example["Forms"][form_index]["FormName"] %>
  <% end %>

  <%= render('partials/submit_button') %>
</form>

<% else  %>
  <%= sanitize format_string(@example["RedirectsToOtherCodeExamples"][redirect_to2_index]["RedirectText"], 'href="eeg002"') %>

<form class="eg" action="eeg002" method="get">
  <%= render('partials/continue_button') %>
</form>
<% end %>
