<%= render('partials/example_info') %>

<% form_index = 0 %>
<% form_group_index = 0 %>

<form class="eg" id="data_form" action="" method="post" data-busy="form">
  <% if @example["Forms"][form_index]["FormName"] %>
    <%= sanitize @example["Forms"][form_index]["FormName"] %>
  <% end %>

  <div class="form-group">
    <label for="group_name"><%= @example["Forms"][form_index]["Inputs"][form_group_index]["InputName"] %></label>
    <input type="text" class="form-control" id="group_name" name="group_name"
           placeholder="<%= @example["Forms"][form_index]["Inputs"][form_group_index]["InputPlaceholder"] %>"
           value=<%="RubyFormGroup##{rand(100)}"%>>
  </div>
  <%= render('partials/submit_button') %>
</form>