<%= render('partials/example_info') %>

<% form_index = 0 %>
<% signer_name_index = 0 %>

<form class="eg" id="data_form" action="" method="post" data-busy="form">
  <% if @example["Forms"][form_index]["FormName"] %>
    <%= sanitize @example["Forms"][form_index]["FormName"] %>
  <% end %>

  <div class="form-group">
    <label for="signer_name"><%= @example["Forms"][form_index]["Inputs"][signer_name_index]["InputName"] %></label>
    <input type="text" class="form-control" id="signer_name"
           placeholder="<%= @example["Forms"][form_index]["Inputs"][signer_name_index]["InputPlaceholder"] %>"
           name="signer_name" required>
  </div>

  <%= render('partials/submit_button') %>
</form>
