<%= render('partials/example_info') %>

<% form_index = 0 %>
<% form_id_index = 0 %>
<% redirect_to4_index = 0 %>

<% unless @form_libraries.blank? %>

  <form class="eg" id="data_form" action="eg006" method="post" data-busy="form">
    <% if @example["Forms"][form_index]["FormName"] %>
      <%= sanitize @example["Forms"][form_index]["FormName"] %>
    <% end %>

    <div class="form-group">
        <label for="starting_view"><%= @example["Forms"][form_index]["Inputs"][form_id_index]["InputName"] %></label>
        <input type="hidden" id="roomId" name="roomId" value=<%= params[:roomId] %> >
        <%= select_tag "formId", options_for_select(@form_libraries.map { |obj| [obj['name'], obj['docuSignFormId']] }), {:class => 'form-control'}  %>
      </div>
      <%= render('partials/submit_button') %>
  </form>

<% else %>

  <div class="form-group">
    <%= sanitize format_string(@example["RedirectsToOtherCodeExamples"][redirect_to4_index]["RedirectText"], 'href="eg004"') %>
  </div>

<% end %>