<%= render('partials/example_info') %>

<% form_index = 0 %>
<% profile_index = 0 %>

<form class="eg" action="" method="post" data-busy="form">
  <% if @example["Forms"][form_index]["FormName"] %>
    <%= sanitize @example["Forms"][form_index]["FormName"] %>
  <% end %>

  <div class="form-group">
    <label for="permission_profile_name"><%= @example["Forms"][form_index]["Inputs"][profile_index]["InputName"] %></label>
    <input type="text" class="form-control" id="permission_profile_name" name="permission_profile_name"
           placeholder="<%= @example["Forms"][form_index]["Inputs"][profile_index]["InputPlaceholder"] %>" required />
  </div>
  <%= render('partials/submit_button') %>
</form>
