<h4>23.  Send an envelope with recipient Id Verification authentication.</h4>
<p>Anchor text 
  (<a href="https://support.docusign.com/en/guides/AutoPlace-New-DocuSign-Experience">AutoPlace</a>)
  is used to position the signing fields in the documents.
</p>
<p>This is an example of an envelope utilizing IDV authentication for multi-factor verification of a recipient. IDV is a service offered by DocuSign that allows your reicpient to upload a photo of a government issued id for verification.</p>

<% if @show_doc  %>
<p><a target='_blank' href='<%= @documentation %>'>Documentation</a> about this example.</p>
<% end %>

  <p>API method used:
    <a target='_blank' href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create">Envelopes::create</a>.
  </p>

  <p>
    View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
  </p>

  <form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
      <label for="signerEmail">Signer Email</label>
      <input type="email" class="form-control" id="signerEmail" name="signerEmail"
             aria-describedby="emailHelp" placeholder="pat@example.com" required
             value="<%= @config.signer_email %>">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="signerName">Signer Name</label>
      <input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
             value="<%= @config.signer_name %>" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>