<%= render('partials/example_info') %>

<% form_index = 1 %>
<% room_index = 0 %>
<% redirect_to1_index = 1 %>

<% if @rooms.count.positive? %>

  <form class="eg" id="data_form" action="reg006_forms" method="get" data-busy="form">
    <% if @example["Forms"][form_index]["FormName"] %>
      <%= sanitize @example["Forms"][form_index]["FormName"] %>
    <% end %>

    <div class="form-group">
        <label for="starting_view"><%= @example["Forms"][form_index]["Inputs"][room_index]["InputName"] %></label>
        <%= select_tag "roomId", options_for_select(@rooms.map { |obj| [obj['name'], obj['roomId']] }), {:class => 'form-control'}  %>
      </div>
      <%= render('partials/submit_button') %>
  </form>

<% else %>

  <div class="form-group">
    <%= sanitize format_string(@example["RedirectsToOtherCodeExamples"][redirect_to1_index]["RedirectText"], 'href="reg001"') %>
  </div>

<% end %>