<%= render('partials/example_info') %>

<% form_index = 0 %>
<% product_index = 0 %>
<% esign_permission_index = 1 %>
<% clm_permission_index = 2 %>
<% redirect_to2_index = 0 %>

<% if @email_ok %>
  <% if @example["Forms"][form_index]["FormName"] %>
    <%= sanitize format_string(@example["Forms"][form_index]["FormName"], @email) %>
  <% end %>

  <form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
    <label for="starting_view"><%= @example["Forms"][form_index]["Inputs"][product_index]["InputName"] %></label>
    <%= select_tag "product_id", options_for_select(@product_list.map { |obj| [obj['product_name'], obj['product_id']] }), { :class => 'form-control' } %>
    </div>

    <% if @clm_permission_profiles.present? %>
      <div class="form-group" id="clm-profiles">
      <label for="starting_view"><%= @example["Forms"][form_index]["Inputs"][esign_permission_index]["InputName"] %></label>
      <%= select_tag "clm_permission_profile_id", options_for_select(@clm_permission_profiles.map { |obj| [obj['permission_profile_name'], obj['permission_profile_id']] }), { :class => 'form-control' } %>
      </div>
    <% else %>
      <div class="form-group">
        <p>Problem: Please first create a CLM permission profile.</a>
          </br>Thank you.</p>
      </div>
    <% end %>

    <% if @esign_permission_profiles.present? %>
      <div class="form-group" id="esign-profiles" style="display: none">
        <label for="starting_view"><%= @example["Forms"][form_index]["Inputs"][clm_permission_index]["InputName"] %></label>
        <%= select_tag "esign_permission_profile_id", options_for_select(@esign_permission_profiles.map { |obj| [obj['permission_profile_name'], obj['permission_profile_id']] }), { :class => 'form-control' } %>
      </div>
    <% else %>
      <div class="form-group">
        <p>Problem: Please first create an eSignature permission profile.</p>
          </br>Thank you.</p>
      </div>
    <% end %>

      <input type="hidden" name="clm_product_id" value="<%= @clm_product_id %>">
      <input type="hidden" name="esign_product_id" value="<%= @esign_product_id %>">
      <%= render('partials/submit_button') %>
  </form>

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          $("#product_id").on("change", function () {
              if($("#product_id option:selected" ).text() === "CLM"){
                  $("#esign-profiles").css("display", "none")
                  $("#clm-profiles").css("display", "block")
              } else {
                  $("#esign-profiles").css("display", "block")
                  $("#clm-profiles").css("display", "none")
              }
          });
      });
  </script>
<% else %>
  <%= sanitize format_string(@example["RedirectsToOtherCodeExamples"][redirect_to2_index]["RedirectText"], 'href="aeg002"') %>

  <form class="eg" action="aeg002" method="get">
    <%= render('partials/continue_button') %>
  </form>
<% end %>