<%= render('partials/example_info') %>

<% signer1_form_index = 0 %>
<% signer2_unchecked_form_index = 1 %>
<% signer2_checked_form_index = 2 %>
<% signer_email_index = 0 %>
<% signer_name_index = 1 %>

<form class="eg" action="" method="post" data-busy="form">
  <% if @example["Forms"][signer1_form_index]["FormName"] %>
    <h4><%= sanitize @example["Forms"][signer1_form_index]["FormName"] %></h4>
  <% end %>

  <div class="your-class">
    <div class="form-group">
      <label for="signerEmail"><%= @example["Forms"][signer1_form_index]["Inputs"][signer_email_index]["InputName"] %></label>
      <input type="email" class="form-control" id="signerEmail1" name="signerEmail1"
             aria-describedby="emailHelp"
             placeholder="<%= @example["Forms"][signer1_form_index]["Inputs"][signer_email_index]["InputPlaceholder"] %>"
             required value="<%= @config.signer_email %>">
    </div>
    <div class="form-group">
      <label for="signerName"><%= @example["Forms"][signer1_form_index]["Inputs"][signer_name_index]["InputName"] %></label>
      <input type="text" class="form-control" id="signerName1"
             placeholder="<%= @example["Forms"][signer1_form_index]["Inputs"][signer_name_index]["InputPlaceholder"] %>"
             name="signerName1" value="<%= @config.signer_name %>" required>
    </div>
  </div>


  <% if @example["Forms"][signer2_unchecked_form_index]["FormName"] %>
    <h4><%= sanitize @example["Forms"][signer2_unchecked_form_index]["FormName"] %></h4>
  <% end %>

  <div class="your-class">
    <div class="form-group">
      <label for="ccEmail"><%= @example["Forms"][signer2_unchecked_form_index]["Inputs"][signer_email_index]["InputName"] %></label>
      <input type="email" class="form-control" id="signerEmailNotChecked" name="signerEmailNotChecked"
             aria-describedby="emailHelp"
             placeholder="<%= @example["Forms"][signer2_unchecked_form_index]["Inputs"][signer_email_index]["InputPlaceholder"] %>"
             value="pat@example.com"/>
    </div>
    <div class="form-group">
      <label for="ccName"><%= @example["Forms"][signer2_unchecked_form_index]["Inputs"][signer_name_index]["InputName"] %></label>
      <input type="text" class="form-control" id="signerNameNotChecked"
             placeholder="<%= @example["Forms"][signer2_unchecked_form_index]["Inputs"][signer_name_index]["InputPlaceholder"] %>"
             name="signerNameNotChecked" value="Pat Johnson">
    </div>
  </div>

  <% if @example["Forms"][signer2_checked_form_index]["FormName"] %>
    <h4><%= sanitize @example["Forms"][signer2_checked_form_index]["FormName"] %></h4>
  <% end %>

  <div class="your-class">
    <div class="form-group">
      <label for="ccEmail"><%= @example["Forms"][signer2_checked_form_index]["Inputs"][signer_email_index]["InputName"] %></label>
      <input type="email" class="form-control" id="signerEmailChecked" name="signerEmailChecked"
             aria-describedby="emailHelp"
             placeholder="<%= @example["Forms"][signer2_checked_form_index]["Inputs"][signer_email_index]["InputPlaceholder"] %>"
             value="mat@example.com"/>
    </div>
    <div class="form-group">
      <label for="ccName"><%= @example["Forms"][signer2_checked_form_index]["Inputs"][signer_name_index]["InputName"] %></label>
      <input type="text" class="form-control" id="signerNameChecked"
             placeholder="<%= @example["Forms"][signer2_checked_form_index]["Inputs"][signer_name_index]["InputPlaceholder"] %>"
             name="signerNameChecked" value="Mat Johnson">
    </div>
  </div>

  <%= render('partials/submit_button') %>
</form>