<%= render('partials/example_info') %>

<% form_index = 0 %>
<% doc_index = 0 %>
<% redirect_to2_index = 0 %>
<% redirect_to6_index = 1 %>

<% if !@envelope_ok %>
  <%= sanitize format_string(@example["RedirectsToOtherCodeExamples"][redirect_to2_index]["RedirectText"], 'href="eeg002"') %>

 <form class="eg" action="eg002" method="get">
     <%= render('partials/continue_button') %>
 </form>
<% elsif !@documents_ok %>
  <%= sanitize format_string(@example["RedirectsToOtherCodeExamples"][redirect_to6_index]["RedirectText"], 'href="eeg006"') %>

 <form class="eg" action="eeg006" method="get">
     <%= render('partials/continue_button') %>
 </form>
<% else %>
  <form class="eg" action="" method="post" data-busy="form-download">
    <% if @example["Forms"][form_index]["FormName"] %>
      <%= sanitize @example["Forms"][form_index]["FormName"] %>
    <% end %>

    <div class="form-group">
        <label for="docSelect"><%= @example["Forms"][form_index]["Inputs"][doc_index]["InputName"] %></label>
        <select class="custom-select" id="docSelect"
          name="docSelect" aria-describedby="emailHelp">
        <% for opt in @document_options %>
          <option value="<%= opt["document_id"] %>"><%= opt['name'] %></option>
        <% end %>
        </select>
    </div>
    <%= render('partials/submit_button') %>
  </form>
<% end %>
