<%= render('partials/example_info') %>

<% bulk1_form_index = 0 %>
<% bulk2_form_index = 1 %>
<% signer_email_index = 0 %>
<% signer_name_index = 1 %>
<% cc_email_index = 2 %>
<% cc_name_index = 3 %>

<form action="" class="eg" method="post" data-busy="form">
  <div class="row">
        <div class="col-md-6 column">
          <% if @example["Forms"][bulk1_form_index]["FormName"] %>
            <h5><%= sanitize @example["Forms"][bulk1_form_index]["FormName"] %></h5>
          <% end %>

          <div class='form-group'>
            <label for= ""><%= @example["Forms"][bulk1_form_index]["Inputs"][signer_email_index]["InputName"] %></label >
            <input type = 'mail' name = "signerEmail1" id = "signerEmail1"
                   placeholder = "<%= @example["Forms"][bulk1_form_index]["Inputs"][signer_email_index]["InputPlaceholder"] %>"
                   required class='form-control'/>
          </div>
          <div class='form-group'>
            <label for= ""><%= @example["Forms"][bulk1_form_index]["Inputs"][signer_name_index]["InputName"] %></label >
            <input type = 'text' name = "signerName1" id = "signerName1"
                   placeholder = "<%= @example["Forms"][bulk1_form_index]["Inputs"][signer_name_index]["InputPlaceholder"] %>"
                   required class='form-control'/>
          </div>
          <div class='form-group'>
            <label for= ""><%= @example["Forms"][bulk1_form_index]["Inputs"][cc_email_index]["InputName"] %></label >
            <input type = 'mail' name = "ccEmail1" id = "ccEmail1"
                   placeholder = "<%= @example["Forms"][bulk1_form_index]["Inputs"][cc_email_index]["InputPlaceholder"] %>"
                   required class='form-control'/>
          </div>
          <div class='form-group'>
            <label for= ""><%= @example["Forms"][bulk1_form_index]["Inputs"][cc_name_index]["InputName"] %></label >
            <input type = 'text' name = "ccName1" id = "ccName1"
                   placeholder = "<%= @example["Forms"][bulk1_form_index]["Inputs"][cc_name_index]["InputPlaceholder"] %>"
                   required class='form-control'/>
          </div>
        </div>

      <div class="col-md-6 column">
        <% if @example["Forms"][bulk2_form_index]["FormName"] %>
          <h5><%= sanitize @example["Forms"][bulk2_form_index]["FormName"] %></h5>
        <% end %>

        <div class='form-group'>
          <label for= ""><%= @example["Forms"][bulk2_form_index]["Inputs"][signer_email_index]["InputName"] %></label >
          <input type = 'mail' name = "signerEmail2" id = "signerEmail2"
                 placeholder = "<%= @example["Forms"][bulk2_form_index]["Inputs"][signer_email_index]["InputPlaceholder"] %>"
                 required class='form-control'/>
        </div>
        <div class='form-group'>
          <label for= ""><%= @example["Forms"][bulk2_form_index]["Inputs"][signer_name_index]["InputName"] %></label >
          <input type = 'text' name = "signerName2" id = "signerName2"
                 placeholder = "<%= @example["Forms"][bulk2_form_index]["Inputs"][signer_name_index]["InputPlaceholder"] %>"
                 required class='form-control'/>
        </div>
        <div class='form-group'>
          <label for= ""><%= @example["Forms"][bulk2_form_index]["Inputs"][cc_email_index]["InputName"] %></label >
          <input type = 'mail' name = "ccEmail2" id = "ccEmail2"
                 placeholder = "<%= @example["Forms"][bulk2_form_index]["Inputs"][cc_email_index]["InputPlaceholder"] %>"
                 required class='form-control'/>
        </div>
        <div class='form-group'>
          <label for= ""><%= @example["Forms"][bulk2_form_index]["Inputs"][cc_name_index]["InputName"] %></label >
          <input type = 'text' name = "ccName2" id = "ccName2"
                 placeholder = "<%= @example["Forms"][bulk2_form_index]["Inputs"][cc_name_index]["InputPlaceholder"] %>"
                 required class='form-control'/>
        </div>
       </div>
    </div>

  <%= render('partials/submit_button') %>
</form>