<div class="container-fill-bg header-div">
<div class="jumbotron jumbotron-fluid">
  <table>
    <tbody>
      <tr>
        <td>
          <h1 class="display-4">Ruby Launcher</h1>
          <p class="Xlead">Run and explore Monitor API code examples with JWT Grant authentication</p>
        </td>
        <td>
          <img src="banner-code.png" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>

<div class="container body-div" id="index-page">
  <% if @show_doc  %>
  <p><a target='_blank' href='<%= :documentation %>'>Documentation</a> on using JWT Authorization from a Ruby Rails application.</p>
  <% end %>

  <% @manifest["Groups"].each { |group| %>
    <h2><%=  group["Name"]  %></h2>

    <% group["Examples"].each { |example| %>
      <%   if not example["SkipLanguages"] or not example["SkipLanguages"].include? "ruby"   %>
        <h4 id="<%= "example%03d" % example["ExampleNumber"] %>">
          <a href="<%= "eg%03d" % example["ExampleNumber"] %>">
            <%=   example["ExampleName"]   %>
          </a>
        </h4>

        <p><%= sanitize example["ExampleDescription"] %></p>

        <% if example["LinksToAPIMethod"].length > 1 %>
          <%= sanitize @manifest["SupportingTexts"]["APIMethodUsedPlural"] %>
        <% else %>
          <%= sanitize @manifest["SupportingTexts"]["APIMethodUsed"] %>
        <% end %>

        <% example["LinksToAPIMethod"].each do |link| %>
          <a target='_blank' href="<%= link["Path"] %>"><%= link["PathName"] %></a>
        <% end %>
      <%   end   %>
      <br><br>
    <%   } %>
  <%  } %>

</div>
<!-- anchor-js is only for the index page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
<script>anchors.options.placement = 'left'; anchors.add('h4')</script>
