<%= render('partials/example_info') %>

<% form_index = 0 %>
<% room_name_index = 0 %>
<% template_index = 1 %>
<% create_room_redirect_index = 0 %>

<% unless @templates.blank? %>
<%  %>
  <form class="eg" id="data_form" action="" method="post" data-busy="form">
    <% if @example["Forms"][form_index]["FormName"] %>
      <%= sanitize @example["Forms"][form_index]["FormName"] %>
    <% end %>

    <div class="form-group">
      <label for="roomName"><%= @example["Forms"][form_index]["Inputs"][room_name_index]["InputName"] %></label>
      <input type="text" class="form-control" id="roomName" name="roomName" value="Room 123"
             placeholder="<%= @example["Forms"][form_index]["Inputs"][room_name_index]["InputPlaceholder"] %>">

      <label for="starting_view"><%= @example["Forms"][form_index]["Inputs"][template_index]["InputName"] %></label>
      <%= select_tag "templateId", options_for_select(@templates.map { |obj| [obj['name'], obj['templateId']] }), {:class => 'form-control'}  %>
    </div>
    <%= render('partials/submit_button') %>
  </form>

<% else %>

  <label>Room</label>
  <%= sanitize @example["RedirectsToOtherCodeExamples"][create_room_redirect_index]["RedirectText"] %>

<% end %>
