<%= render('partials/example_info') %>

<% form_index = 0 %>
<% click_id_index = 0 %>
<% redirect_to1_index = 0 %>

<% if session[:clickwrap_id] %>
  <form class="eg" action="" method="post" data-busy="form">
    <% if @example["Forms"][form_index]["FormName"] %>
      <%= sanitize @example["Forms"][form_index]["FormName"] %>
    <% end %>

    <div class="form-group">
      <label for="client_user_id"><%= @example["Forms"][form_index]["Inputs"][click_id_index]["InputName"] %></label>
      <input type="text" class="form-control" id="client_user_id" name="client_user_id" required
             placeholder="<%= @example["Forms"][form_index]["Inputs"][click_id_index]["InputPlaceholder"] %>">
    </div>
    <%= render('partials/submit_button') %>
  </form>

<% else %>
  <%= sanitize format_string(@example["RedirectsToOtherCodeExamples"][redirect_to1_index]["RedirectText"], 'href="eg001"') %>

<% end %>