<%= render('partials/example_info') %>

<% form_index = 0 %>
<% start_index = 0 %>
<% end_name_index = 1 %>

<form class="eg" action="" method="post" data-busy="form">
  <% if @example["Forms"][form_index]["FormName"] %>
    <%= sanitize @example["Forms"][form_index]["FormName"] %>
  <% end %>

  <div class="form-group">
    <label for="start_date"><%= @example["Forms"][form_index]["Inputs"][start_index]["InputName"] %></label>
    <input type="date" class="form-control" id="start_date" name="start_date" value=<%= Time.now - 10.days %> max=<%= Time.now %>>
  </div>
  <div class="form-group">
    <label for="end_date"><%= @example["Forms"][form_index]["Inputs"][end_name_index]["InputName"] %></label>
    <input type="date" class="form-control" id="end_date" name="end_date" value=<%= Time.now %> max=<%= Time.now %>>
  </div>
  <%= render('partials/submit_button') %>
</form>