<%= render('partials/example_info') %>

<% form_index = 0 %>
<% profile_index = 0 %>

<form class="eg" action="" method="post" data-busy="form">
  <% if @example["Forms"][form_index]["FormName"] %>
    <%= sanitize @example["Forms"][form_index]["FormName"] %>
  <% end %>

  <div class="form-group">
    <label for="lists"><%= @example["Forms"][form_index]["Inputs"][profile_index]["InputName"] %></label>
    <select id="lists" name="lists" class="form-control">
      <% @permissions_lists.each do |list| %>
        <option value="<%= list.permission_profile_id %>" selected><%= list.permission_profile_name %></option>
      <% end %>
    </select>
  </div>
  <%= render('partials/submit_button') %>
</form>
