<%= render('partials/example_info') %>

<% form_index = 0 %>
<% signer_code_index = 0 %>
<% signer_phone_index = 1 %>
<% signer_name_index = 2 %>
<% cc_code_index = 3 %>
<% cc_phone_index = 4 %>
<% cc_name_index = 5 %>

<form class="eg" id="data_form" action="" method="post" data-busy="form">
  <% if @example["Forms"][form_index]["FormName"] %>
    <%= sanitize @example["Forms"][form_index]["FormName"] %>
  <% end %>

  <div class="form-group">
    <label for="country_code"><%= @example["Forms"][form_index]["Inputs"][signer_code_index]["InputName"] %></label>
    <input type="tel" class="form-control" id="country_code" name="country_code"
           aria-describedby="accessHelp"
           placeholder="<%= @example["Forms"][form_index]["Inputs"][signer_code_index]["InputPlaceholder"] %>" required />
    <small id="accessHelp" class="form-text text-muted">The country code for the phone number below.</small>
  </div>
  <div class="form-group">
    <label for="phone_number"><%= @example["Forms"][form_index]["Inputs"][signer_phone_index]["InputName"] %></label>
    <input type="tel" class="form-control" id="phone_number" name="phone_number"
           aria-describedby="accessHelp"
           placeholder="<%= @example["Forms"][form_index]["Inputs"][signer_phone_index]["InputPlaceholder"] %>" required />
    <%= render('partials/phone_will_not_be_shared') %>
  </div>
  <div class="form-group">
    <label for="signer_name"><%= @example["Forms"][form_index]["Inputs"][signer_name_index]["InputName"] %></label>
    <input type="text" class="form-control" id="signer_name"
           placeholder="<%= @example["Forms"][form_index]["Inputs"][signer_name_index]["InputPlaceholder"] %>" name="signer_name"
           value="<%= @config.signer_name %>" required />
  </div>
  <div class="form-group">
    <label for="country_code"><%= @example["Forms"][form_index]["Inputs"][cc_code_index]["InputName"] %></label>
    <input type="tel" class="form-control" id="cc_country_code" name="cc_country_code"
           aria-describedby="accessHelp"
           placeholder="<%= @example["Forms"][form_index]["Inputs"][cc_code_index]["InputPlaceholder"] %>" required />
    <small id="accessHelp" class="form-text text-muted">The country code for the phone number below.</small>
  </div>
  <div class="form-group">
    <label for="phone_number"><%= @example["Forms"][form_index]["Inputs"][cc_phone_index]["InputName"] %></label>
    <input type="tel" class="form-control" id="cc_phone_number" name="cc_phone_number"
           aria-describedby="accessHelp"
           placeholder="<%= @example["Forms"][form_index]["Inputs"][cc_phone_index]["InputPlaceholder"] %>" required />
    <%= render('partials/phone_will_not_be_shared') %>
  </div>
  <div class="form-group">
    <label for="cc_name"><%= @example["Forms"][form_index]["Inputs"][cc_name_index]["InputName"] %></label>
    <input type="text" class="form-control" id="cc_name"
           placeholder="<%= @example["Forms"][form_index]["Inputs"][cc_name_index]["InputPlaceholder"] %>" name="cc_name"
           required />
  </div>
  <%= render('partials/submit_button') %>
</form>
