<%= render('partials/example_info') %>

<% form_index = 0 %>
<% room_name_index = 0 %>

<form class="eg" id="data_form" action="" method="post" data-busy="form">
  <% if @example["Forms"][form_index]["FormName"] %>
    <%= sanitize @example["Forms"][form_index]["FormName"] %>
  <% end %>

  <div class="form-group">
    <label for="roomName"><%= @example["Forms"][form_index]["Inputs"][room_name_index]["InputName"] %></label>
    <input type="text" class="form-control" id="roomName" name="roomName" value="Room 123"
           placeholder="<%= @example["Forms"][form_index]["Inputs"][room_name_index]["InputPlaceholder"] %>">
  </div>
  <%= render('partials/submit_button') %>
</form>