<%= render('partials/example_info') %>

<% form_index = 0 %>
<% start_index = 0 %>
<% end_index = 1 %>

<% if @rooms.count.positive? %>

  <form class="eg" id="data_form" action="" method="post" data-busy="form">
    <% if @example["Forms"][form_index]["FormName"] %>
      <%= sanitize @example["Forms"][form_index]["FormName"] %>
    <% end %>

    <div class="form-group">
      <label><%= @example["Forms"][form_index]["Inputs"][start_index]["InputName"] %></label>
      <input id="date_from" name="date_from" type="date" class="form-control" value=<%= Time.now - 10.days %> max=<%= Time.now %>>
      <br>
      <label><%= @example["Forms"][form_index]["Inputs"][end_index]["InputName"] %></label>
      <input id="date_to" name="date_to"  type="date" class="form-control" value=<%= Time.now %> max=<%= Time.now %>>
    </div>
    <%= render('partials/submit_button') %>
  </form>

<% else %>

  <div class="form-group">
    <p>
      Problem: you don't have any rooms. Please first create a room using
      <a target ='_blank'  href="reg001">Create a new room</a>
      or
      <a target ='_blank'  href="reg002">Create room with a template</a>.
      <br>
      Thank you.
    </p>
  </div>

<% end %>