<%= render('partials/example_info') %>

<% form_index = 0 %>
<% room_id_index = 0 %>
<% form_id_index = 1 %>
<% redirect_to1_index = 0 %>

<% unless @form_libraries.blank? %>

<% if @form_libraries.count.positive? && @rooms.count.positive? %>

  <form class="eg" id="data_form" action="" method="post" data-busy="form">
    <% if @example["Forms"][form_index]["FormName"] %>
      <%= sanitize @example["Forms"][form_index]["FormName"] %>
    <% end %>

    <div class="form-group">
      <label for="starting_view"><%= @example["Forms"][form_index]["Inputs"][room_id_index]["InputName"] %></label>
      <%= select_tag "roomId", options_for_select(@rooms.map { |obj| [obj['name'], obj['roomId']] }), {:class => 'form-control'}  %>

      <label for="starting_view"><%= @example["Forms"][form_index]["Inputs"][form_id_index]["InputName"] %></label>
      <%= select_tag "formId", options_for_select(@form_libraries.map { |obj| [obj['name'], obj['libraryFormId']] }), {:class => 'form-control'}  %>
    </div>
    <%= render('partials/submit_button') %>
  </form>

<% elsif @rooms.count.zero? %>

  <div class="form-group">
    <%= sanitize format_string(@example["RedirectsToOtherCodeExamples"][redirect_to1_index]["RedirectText"], 'href="reg001"') %>
  </div>

<% end %>

<% else %>


    <div class="form-group">
    <p>
      Problem: Docusign Forms is not enabled for this company. Please contact
      <a target ='_blank' href="https://support.docusign.com/">Docusign Rooms Support</a>
      to enable Forms.
      <br>
      Thank you.
    </p>
  </div>


<% end %>