<%= render('partials/example_info') %>

<% form_index = 0 %>
<% signer_email_index = 0 %>
<% signer_name_index = 1 %>
<% cc_email_index = 2 %>
<% cc_name_index = 3 %>

  <form class="eg" action="" method="post" data-busy="form">
    <% if @example["Forms"][form_index]["FormName"] %>
      <%= sanitize @example["Forms"][form_index]["FormName"] %>
    <% end %>

    <div class="form-group">
      <label for="signerEmail"><%= @example["Forms"][form_index]["Inputs"][signer_email_index]["InputName"] %></label>
      <input type="email" class="form-control" id="signerEmail" name="signerEmail"
             aria-describedby="emailHelp"
             placeholder="<%= @example["Forms"][form_index]["Inputs"][signer_email_index]["InputPlaceholder"] %>" required
             value="<%= @config.signer_email %>">
      <%= render('partials/email_will_not_be_shared') %>
    </div>
    <div class="form-group">
      <label for="signerName"><%= @example["Forms"][form_index]["Inputs"][signer_name_index]["InputName"] %></label>
      <input type="text" class="form-control" id="signerName"
             placeholder="<%= @example["Forms"][form_index]["Inputs"][signer_name_index]["InputPlaceholder"] %>" name="signerName"
             value="<%= @config.signer_name %>" required>
    </div>
    <div class="form-group">
      <label for="ccEmail"><%= @example["Forms"][form_index]["Inputs"][cc_email_index]["InputName"] %></label>
      <input type="email" class="form-control" id="ccEmail" name="ccEmail"
             aria-describedby="emailHelp" placeholder="<%= @example["Forms"][form_index]["Inputs"][cc_email_index]["InputPlaceholder"] %>" required />
      <%= render('partials/email_should_differ_from_signer') %>
    </div>
    <div class="form-group">
      <label for="ccName"><%= @example["Forms"][form_index]["Inputs"][cc_name_index]["InputName"] %></label>
      <input type="text" class="form-control" id="ccName" placeholder="<%= @example["Forms"][form_index]["Inputs"][cc_name_index]["InputPlaceholder"] %>" name="ccName"
             required>
    </div>
    <%= render('partials/submit_button') %>
  </form>